img {
  margin-left: 2em;
  margin-bottom: 2ex;
}

* {
  text-align: justify;
}

table {
  margin-top: 2ex;
}

.class-name {
  font-weight: bold;
  text-align: center;
}

.page-section {
  margin-top: 3ex;
}

address {
  font-style: normal;
}

.page-title {
  text-align: center;
}

.slogan {
  display: block;
  font-size: smaller;
  margin-top: -1.5ex;
  float: left;
}

.section-title {
  text-align: center;
}
